In [1]:
import pymysql as mdb

In [2]:
con = mdb.connect('localhost', 'root', 'chaoshiz', 'testdb', port = 3307)

In [3]:
with con:
       cur = con.cursor()
       cur.execute("DROP TABLE IF EXISTS Writers")
       cur.execute("CREATE TABLE Writers(Id INT PRIMARY KEY AUTO_INCREMENT,Name VARCHAR(25))")
       cur.execute("INSERT INTO Writers(Name) VALUES('Jack London')")
       cur.execute("INSERT INTO Writers(Name) VALUES('Honore de Balzac')")
       cur.execute("INSERT INTO Writers(Name) VALUES('Lion Feuchtwanger')")
       cur.execute("INSERT INTO Writers(Name) VALUES('Emile Zola')")